.card {
    border-radius: 20px;
    border:2px solid lawngreen;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    background-color: antiquewhite;
}
.card-active {
    border-radius: 20px;
    border:3px solid red;
    width: 320px;
    height: 320px;
    display: inline-block;
    margin: 20px;
    background-color: antiquewhite;
    
}
.title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.price {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
.discont {
    font-size: 25px;
    text-align: center;
    margin-top: 90px;
}
.button {
   margin: 0 0 30px 60px
}
.ul-list {
    display: block;
    font-size: 25px;
    color: black;
    background-color: beige;
    text-align: center;
}
.basketCard {
    background-color: aquamarine;
    font-size: 27px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
}
.search {
    margin-right: 1200px;
    margin-top: 40px;
}
.form {
    
    display: inline;
    margin: 300px;
}
.area {
    display: inline-block;
    margin-right: 30px;
    border:1px solid indigo ;
    width: 100px;
    height: 30px;
}